body {
	overflow-x: hidden;
}

hr {
	margin: 0px;
}
 #Fondo 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: relative; 
	 width: 550px;
	 height: 1549px;
	 z-index:1;
} 

 #Capa10 
{ 
	 left: 0px; 
	 top: 1510px; 
	 position: absolute; 
	 width: 550px;
	 height: 39px;
	 z-index:2;
} 

 #wwwasomawebar 
{ 
	 left: 129px; 
	 top: 1464px; 
	 position: absolute; 
	 width: 268px;
	 height: 23px;
	 z-index:3;
} 

 #Objetointeligentevec 
{ 
	 left: 395px; 
	 top: 1293px; 
	 position: absolute; 
	 width: 87px;
	 height: 151px;
	 z-index:4;
} 

 #Objetointeligentevec_0 
{ 
	 left: 286px; 
	 top: 1293px; 
	 position: absolute; 
	 width: 86px;
	 height: 151px;
	 z-index:5;
} 

 #Objetointeligentevec_1 
{ 
	 left: 176px; 
	 top: 1293px; 
	 position: absolute; 
	 width: 87px;
	 height: 151px;
	 z-index:6;
} 

 #Objetointeligentevec_2 
{ 
	 left: 66px; 
	 top: 1293px; 
	 position: absolute; 
	 width: 88px;
	 height: 151px;
	 z-index:7;
} 

 #Sigamosencontactoatr 
{ 
	 left: 30px; 
	 top: 1173px; 
	 position: absolute; 
	 width: 487px;
	 height: 78px;
	 z-index:8;
} 

 #Objetointeligentevec_3 
{ 
	 left: 29px; 
	 top: 1129px; 
	 position: absolute; 
	 width: 490px;
	 height: 2px;
	 z-index:9;
} 

 #Objetointeligentevec_4 
{ 
	 left: 148px; 
	 top: 989px; 
	 position: absolute; 
	 width: 252px;
	 height: 88px;
	 z-index:10;
} 

 #Acreditateaqu 
{ 
	 left: 176px; 
	 top: 1005px; 
	 position: absolute; 
	 width: 193px;
	 height: 62px;
	 z-index:11;
} 

 #SOLDOUTdestandsvendi 
{ 
	 left: 78px; 
	 top: 898px; 
	 position: absolute; 
	 width: 395px;
	 height: 61px;
	 z-index:12;
} 

 #FIMAResunaexposicino 
{ 
	 left: 29px; 
	 top: 706px; 
	 position: absolute; 
	 width: 485px;
	 height: 163px;
	 z-index:13;
} 

 #Objetointeligentevec_5 
{ 
	 left: 93px; 
	 top: 625px; 
	 position: absolute; 
	 width: 125px;
	 height: 54px;
	 z-index:14;
} 

 #Objetointeligentevec_6 
{ 
	 left: 0px; 
	 top: 319px; 
	 position: absolute; 
	 width: 550px;
	 height: 397px;
	 z-index:15;
} 

 #Del7al9dejulioComple 
{ 
	 left: 95px; 
	 top: 516px; 
	 position: absolute; 
	 width: 359px;
	 height: 14px;
	 z-index:16;
} 

 #Objetointeligentevec_7 
{ 
	 left: 82px; 
	 top: 502px; 
	 position: absolute; 
	 width: 386px;
	 height: 42px;
	 z-index:17;
} 

 #ASOMAPRESENTAFIMARFe 
{ 
	 left: 46px; 
	 top: 365px; 
	 position: absolute; 
	 width: 458px;
	 height: 115px;
	 z-index:18;
} 

 #Capa6 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: absolute; 
	 width: 550px;
	 height: 319px;
	 z-index:19;
} 

 #Objetointeligentevec_8 
{ 
	 left: 164px; 
	 top: 113px; 
	 position: absolute; 
	 width: 222px;
	 height: 76px;
	 z-index:20;
} 
